/*@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+Pro&display=swap');
body{
    background-color: #f7f7e9;
}
h1 {
    font-family: 'Anton', sans-serif;
}
.cen{
    margin: auto;
}

p, td, th, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .grow {
        height: 59px;
        overflow: hidden;
        transition-property: height;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .grow:hover {
        height: 450px;
    }
}

.grow {

    height: 100px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.grow:hover {
    height: 170px;
}

