<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>CRM / Contact Card</title>
    <link rel="icon" th:href="@{/assets/LOGO.png}" type="image/x-icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/assets/styling.css}">
</head>
<body>
<div class="grow">
    <div class=" mt-3 d-flex justify-content-center">
        <h1 style="font-size: 4rem"><img alt="" style="width: 69px;
    margin-bottom: 11px;
    margin-right: 6px;" th:src="@{/assets/LOGO.png}">Customer Relation Management</h1>
    </div>
    <div class=" mt-3 d-flex justify-content-center">
        <div aria-label="Basic example" class="btn-group" role="group">
            <a class="btn btn-info" th:href="@{/customers}" type="button">
                <i class="bi bi-house-door-fill"></i>
            </a>
            <a class="btn btn-info" th:href="@{/customers/card_page}" type="button">
                <i class="bi bi-card-heading"></i>
            </a>
            <a class="btn btn-info" th:href="@{/logout}" type="button">
                <i class="bi bi-door-open-fill"></i>
            </a>

        </div>
    </div>
</div>
<div style="margin:auto; max-width: 1000px" class=" mt-3 d-flex justify-content-center flex-wrap">
    <div th:each="customer : ${customers}" class="card" style="width: 18rem; margin: 10px;">
        <div class="card-body ">
            <h5 th:text="${#strings.capitalizeWords(#strings.toLowerCase(customer.name))}" class="card-title">Card
                title</h5>
            <i><p th:text="${customer.getAddress()}" class="card-text"/></i>
            <b><p th:text="${customer.getDepartment()}" class="card-text"/></b>
            <hr/>
            <div class="d-flex justify-content-center align-self-end">
                <div aria-label="Basic example" class="btn-group" role="group">
                    <a class="btn btn-primary" th:href="'mailto:'+${customer.getEmail()}">
                        <i class="bi bi-envelope-at-fill"
                           style="padding-right: 5px;"></i>Email</a>
                    <a class="btn btn-primary" th:href="'tel:+60'+${customer.getPhonenumber()}"><i
                            class="bi bi-telephone-fill" style="padding-right: 5px;"></i>Call</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" th:if="${customers.empty}" style="width: 18rem; margin: 10px;">
        <div class="card-body ">
            <h5 th:text="'No Customer'" class="card-title">Card title</h5>
            <i><p th:text="'is'" class="card-text"/></i>
            <b><p th:text="'present...'" class="card-text"/></b>
            <hr/>
            <div class="d-flex justify-content-center align-self-end">
                <div aria-label="Basic example" class="btn-group" role="group">
                    <a class="btn btn-primary" th:href="'#'">
                        <i class="bi bi-envelope-at-fill" style="padding-right: 5px;"></i>Email</a>
                    <a class="btn btn-primary " th:href="'#'"><i class="bi bi-telephone-fill"
                                                                 style="padding-right: 5px;"></i>Call</a>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>